{% extends "main.html" %}
{% block content %}
<h2>Company Registration</h2>
<div style="padding: 15px;background: rgb(242, 241, 241);box-shadow: 0 4px 10px rgba(0,0,0,0.1);border-radius: 15px;">
<form method="POST">

<p >Company Name</p>
<input name="name">

<p>Email</p>
<input name="email">

<p>Password</p>
<input type="password" name="password">

<p>HR Contact</p>
<input name="hr_contact">

<p>Website</p>
<input name="website">

<br><br>

<button type="submit">Register</button>

</form>
</div>
{% endblock %}