{% extends "base.html" %}
{% block content %}
<h2>Applicants for {{ job.job_title }}</h2>

<a href="/company/dashboard">Back to Dashboard</a>

<hr>

<table  style="width:100%; background-color: rgb(246, 246, 243);">

<tr>
<th>Student Name</th>
<th>Email</th>
<th>Education</th>
<th>Skills</th>
<th>Resume</th>
<th>Status</th>
<th>Actions</th>
</tr>

{% for app in applications %}

<tr>

<td>{{ app.student.name }}</td>

<td>{{ app.student.email }}</td>

<td>{{ app.student.education }}</td>

<td>{{ app.student.skills }}</td>

<td>
<a href="{{ url_for('static', filename='resumes/' + app.student.resume) }}">
    View Resume
</a>
</td>

<td>{{ app.status }}</td>

<td>

<a href="/company/application/shortlist/{{ app.id }}">Shortlist</a>

|

<a href="/company/application/reject/{{ app.id }}">Reject</a>

|

<a href="/company/application/select/{{ app.id }}">Select</a>

</td>

</tr>

{% endfor %}

</table>
{% endblock %}