<h1>My Applications</h1>

<a href="/student/dashboard">Back to Dashboard</a>

<br><br>

<table border="1">

<tr>
<th>Job ID</th>
<th>Company</th>
<th>Job Role</th>
<th>Salary</th>
<th>Email</th>
<th>Status</th>
</tr>

{% for app in applications %}

<tr>

<td>
{% if app.job %}
{{ app.job.id }}
{% else %}
N/A
{% endif %}
</td>

<td>
{% if app.job and app.job.company %}
{{ app.job.company.name }}
{% else %}
N/A
{% endif %}
</td>

<td>
{% if app.job %}
{{ app.job.job_title }}
{% else %}
N/A
{% endif %}
</td>

<td>
{% if app.job %}
{{ app.job.salary }}
{% else %}
N/A
{% endif %}
</td>

<td>
{% if app.job and app.job.company %}
{{ app.job.company.email }}
{% else %}
N/A
{% endif %}
</td>




<td>{{ app.status }}</td>

</tr>

{% endfor %}

</table>