<h2>Student Dashboard</h2>

<a href="/">Home</a> |
<a href="/student/applications">My Applications</a> |
<a href="/student/placements">Placement History</a> |
<a href="/student/profile">Edit Profile</a>
<a href="/logout">Logout</a>
<hr>
<h3>Available Jobs</h3>


<br>

<h2>Available Placement Drives</h2>

<table border="1">

<tr>
<th>Drive ID</th>
<th>Company</th>
<th>Job Title</th>
<th>Salary</th>
<th>Deadline</th>
<th>Applicants</th>
<th>Action</th>
</tr>

{% for job in jobs %}

<tr>

<td>{{ job.id }}</td>

<td>{{ job.company.name }}</td>

<td>{{ job.job_title }}</td>

<td>{{ job.salary }}</td>

<td>{{ job.deadline }}</td>

<td>{{ job.applications|length }}</td>

<td>
<a href="/student/job/{{ job.id }}">View</a>
</td>

</tr>

{% endfor %}

</table>